<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>

   
	<!-- menu.html -->  
	<aside>
		<div class="menu">
			<h2>Menu</h2>
			<ul>
				<li><a th:href="@{/}" th:text="${'Home'}">Home</a></li>
				<li><a th:href="@{/projects}" th:text="${'Projects'}">Projects</a></li>
				<li><a th:href="@{/insertProject}" th:text="${'Add Project'}">Add Projects</a></li>
				<!-- Add more menu items as needed -->
			</ul>
		</div>
	</aside>

</body>
    
</html>